= render('common/header')

%body
  %h1 
    <span style="font-weight:bold; color:#C4DA64;">Software-Paket Freigaben</span> 
  
    %table#t01
      %thead
        %tr
          %th Name
          %th Version
          %th Freigabe
          %th Datum
          %th Feature
          %th Software Min
          %th Software Max
          %th Land
          %th
          %th
          %th
      %tbody
        - @customizings.each do |customizing|
          %tr
            %td              
              - if customizing.customizing_name == nil
                <span style = "color:#ff0000;"> Datenbank-Fehler </span>
              - else
                = customizing.customizing_name.name;
            %td 
              =customizing.version
            %td 
              -# =customizing.freigabe_status_id
              - if customizing.freigabe_status == nil
                <span style = "color:#ff0000;"> Datenbank-Fehler </span>
              - else
                = customizing.freigabe_status.freigabe;
            %td
              =customizing.datum
            %td
              =customizing.feature
            %td
              =customizing.software_req_min
            %td
              =customizing.software_req_max
            %td
              =customizing.land
            %td
              =link_to 'Show', customizing
            %td
              =link_to 'Edit', edit_customizing_path(customizing)
            %td
              = link_to 'Destroy', customizing, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  
  = link_to 'New Customizing', new_customizing_path
