= render('common/header')

%body
  %h1 
    <span style="font-weight:bold; color:#C4DA64;">Software-Paket Freigaben</span>

    -# http://stackoverflow.com/questions/6885990/rails-params-explained

    %table#t01
      %thead
        %tr
          %th Id
          %th Name
          %th Version
          %th 
            -# https://kernelgarden.wordpress.com/2014/02/26/dynamic-select-boxes-in-rails-4/
            -# options_for_select dynamic
            Freigabe
            = form_tag(customizings_path, method: "get") do             
              = select_tag(:freigabestat, options_from_collection_for_select(FreigabeStatus.all, :id, :freigabe) )       
              = submit_tag("Filter") 
          %th Datum
          %th Feature
          %th 
            Software
            = form_tag(customizings_path, method: "get") do
              = select_tag(:software, options_from_collection_for_select(Software.all, :id, :name))       
              = submit_tag("Filter") 
          %th Software Min
          %th Software Max
          %th Land
          %th
          %th
          %th
      %tbody
        - @customizings.each do |customizing|
          -# @filteredCustomizings.each do |customizing|
          %tr
            %td
              =customizing.id
            %td              
              - if customizing.customizing_name == nil
                <span style = "color:#ff0000;"> Datenbank-Fehler </span>
              - else
                = customizing.customizing_name.name;
            %td 
              =customizing.version
            %td 
              - if customizing.freigabe_status == nil
                %span{ :style => "color:red;" }
                  Datenbank-Fehler
              - else

                - case customizing.freigabe_status.id
                  - when 1
                    - color = "color:black"
                    %span{ :style => color }
                      = customizing.freigabe_status.freigabe
                  - when 2
                    - color = "color:red"
                    %span{ :style => color }
                      = customizing.freigabe_status.freigabe
                  - when 5 
                    - color = "color:#AEB404"
                    %span{ :style => color }
                      = customizing.freigabe_status.freigabe
                  - when 6 
                    - color = "color:#31B404"
                    %span{ :style => color }
                      = customizing.freigabe_status.freigabe
                  - when 7 
                    - color = "color:#21610B"
                    %span{ :style => color }
                      = customizing.freigabe_status.freigabe
                  -else
                    - color = "color:grey"
                    %span{ :style => color }
                      = customizing.freigabe_status.freigabe
            %td
              =customizing.datum
            %td
              =customizing.feature
            %td
              - if customizing.software == nil
                \---
              - else              
                =customizing.software.name
            %td
              =customizing.software_req_min
            %td
              =customizing.software_req_max
            %td
              =customizing.land
            %td
              =link_to 'Show', customizing
            %td
              =link_to 'Edit', edit_customizing_path(customizing)
            %td
              = link_to 'Destroy', customizing, method: :delete, data: { confirm: 'Are you sure?' }
  %br
  
  = link_to 'Neue Freigabe', new_customizing_path
