= render('common/header')

%body
  %h1
    Neue Freigabe
     
  -# The customizings_path helper tells Rails to point the form to the URI Pattern associated with the customizings prefix; 
  -# and the form will (by default) send a POST request to that route. 
  -# This is associated with the create action of the current controller, the CustomizingsController.
  = form_for :customizing, url: customizings_path do |c|
    %p
      = c.label :id
      = c.date_field :id 
    %p
      = c.label :name_id
      = c.text_field :name_id 
    %p
      = c.label :version
      = c.text_field :version 
    %p
      = c.label :software_id
      = c.text_field :software_id 
    %p
      = c.label :feature
      = c.text_field :feature 
    %p
      = c.label :freigabe_status_id
      = c.text_field :freigabe_status_id 
    %p
      = c.label :software_req_min
      = c.text_field :software_req_min 
    %p
      = c.label :software_req_max
      = c.text_field :software_req_max 
    %p
      -# = c.date_field :datum
      -# = c.label :datum
      -# = c.text_field :datum 
    %p
      = c.submit # Submit Button

  -# = render 'form' 
  = link_to 'Back', customizings_path
    
    
        