= render('common/header')

%h1= t('ECO Antrag')
%h2
  = @customizing.customizing_name.name 
  = @customizing.version
%h3
  = t('Freigabestatus : ')
  = @customizing.freigabe_status_id
  = t('Datum letzte Statusänderung :')
  = @customizing.software_id
  = @customizing.datum
  = @customizing.feature
  = @customizing.software_req_min 
  = @customizing.software_req_max 
  = @customizing.land 
  %br
  %div
  %br
  = link_to 'Edit', edit_customizing_path(@customizing) |
  = link_to 'Back', customizings_path
